<template>
  <div>TEST</div>
  <ul>
    <li v-for="todo in todos" :key="todo.userId">
      {{ todo.title }}
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import type { Todo } from "./../pages/TestPage.vue";

export default defineComponent({
  // Название компонента всегда минимум 2 слова
  name: "TestComponent",
  props: {
    todos: {
      type: Array as PropType<Todo[]>,
      required: true,
    },
  },
});
</script>