<template>
  <div>
    TEST PAGE
    <test-component :todos="todos" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import axios from "axios";
import { makeRequest } from "@/shared/make-request";
import TestComponent from "./../components/TestComponent.vue";

// ТИПЫ не экспортируются из компонентов
export interface Todo {
  userId: string;
  id: string;
  title: string;
  completed: boolean;
}

export default defineComponent({
  // Название компонента всегда минимум 2 слова
  name: "TestPage",

  components: { TestComponent },

  setup() {
    const todos = ref<Todo[]>([]);

    async function loadTempData(): Promise<Todo[]> {
      // вызывать запросы в компонетнте - ПЛОХО
      const { data }: { data: Todo[] } = await axios(
        "https://jsonplaceholder.typicode.com/todos"
      );

      return data;
    }

    async function init(): Promise<void> {
      const { response, error } = await makeRequest(loadTempData());

      if (response === undefined) {
        return;
      }

      todos.value = response;
    }

    init();

    return {
      todos
    }
  },
});
</script>